<div class='col-md-4'>
  <div class='card'>
    <img class='card-img-top' src='{{this.image.url}}' alt='{{this.name}}'onerror="src='../../images/spotify-background.jpeg'"/> 
    <div class='card-body'>
      <h5 class='card-title'>
        {{this.name}}
      </h5>
      <a href="/albums/{{this.id}}"><button class="button">View Albums</button></a>
    </div>
  </div>
</div>