<div class='trackcard'>
  <div class='track-body'>
      <h5 class='track-title'>
        {{this.name}}
      </h5>
  </div>
  <div class="track-play">
    <audio controls src="{{this.preview_url}}"></audio>
  </div>
</div>