
    <form action="/artist-search" method="get" class="search-box">
    <input type="text" name="query" id="query" required />
    <input type="submit" value="Search for an Artist" class="button"/>
</form>